<h1>Here are invoices connected to your profile : </h1>
<body>
{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}
<form action="/invoices/" method="POST">
    {% csrf_token %}
    {% include 'invoice/form/view.html' %}
    <input type="submit" value="Add invoice!">
</form>
<table>

    <tr>
        <th>Issuer</th>
        <th>Receiver</th>
        <th>date</th>
        <th>Invoice path</th>
    </tr>

    {% for invoice in invoices %}
        <tr>
            <th>{{ invoice.issuingUser }}</th>
            <th>{{ invoice.receivingUser }}</th>
            <th>{{ invoice.date }}</th>
            <th>{{ invoice.invoicePath }}</th>
        </tr>
    {% endfor %}
</table>
<a href="/">back</a>
</body>
