<h1>Here are invoices connected to your profile : </h1>
<body>
{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}
<form action="/invoices/" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% include 'invoice/form/view.html' %}
    <br>
    <input type="submit" value="Add invoice!">
</form>
<style>
    table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
</style>
<table style="width:100%">

    <tr>
        <th>Issuer</th>
        <th>Receiver</th>
        <th>Date</th>
        <th>Name</th>
        <th>Invoice</th>
    </tr>

    {% for invoice in invoices %}
        <tr>
            <th>{{ invoice.issuingUser }}</th>
            <th>{{ invoice.receivingUser }}</th>
            <th>{{ invoice.date }}</th>
            <th>{{ invoice.invoice.name }}</th>
            <th><a href="{{ invoice.invoice.url }}">Preview</a></th>
        </tr>
    {% endfor %}
</table>
<a href="/">back</a>
</body>
