<div>
    {% if user.is_authenticated %}
        <h1>Welcome user: {{ user.username }}!</h1>
        <h3>Notifications : {{ notif | length }}</h3>
        {% for n in notif %}
            <ul>
                <li> {{ n.message }} <a href="/notification/read/{{ n.id }}">Ok</a></li>
            </ul>
        {% endfor %}
        <h2>Places you might want to visit : </h2>

        <br>
        <ul>
            <li>
                <a href="/user/">User</a>
            </li>
            <li>
                <a href="/invoices/">Invoices</a>
            </li>
            <li>
                <a href="/forum/">Forum</a>
            </li>
        </ul>
        <a href="/user/logout/">logout</a>
    {% else %}
        <h1>Access to the site is only for logged users</h1>
        <h2>Do you want to login or register?</h2>
        <a href="/user/login/">Login</a>
        <a href="/user/register/">Register</a>
    {% endif %}
</div>