<h1>Welcome on the index page {{ user.username }}!</h1>
<p>We might not be skilled with CCS but we do make solid things. Or so we think.</p>
<h2>Places you might want to visit : </h2>
<h3>Notifications : 0</h3>
<ul>
    <li>
        <a href="user/">User</a>
    </li>
    <li>
        <a href="invoices/">Invoices</a>
    </li>
    <li>
        <a>Forum</a>
    </li>
</ul>

<div>
    {% if user.is_authenticated %}
        <h2> You logged in successfully!</h2>
        <a href="user/logout/">logout</a>
    {% else %}
        <h2>Do you want to login, or register?</h2>
        <a href="user/login/">login</a>
        <a href="user/register/">Register</a>
    {% endif %}
</div>