{% if user.username != "admin" %}
    <h1>Nothing worth seeing here {{ user.username }}!</h1>
{% else %}
    <h1>Administration view:</h1>
    <table>
            <tr>
                <th>Username</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>E-mail</th>
            </tr>
        {% for user in users %}
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Age</th>
            </tr>
        {% endfor %}
    </table>
{% endif %}