<html>
<head>
    <title>Forum - categories</title>
</head>
<body>
<h1>Forum</h1>
<h1>Categories list:</h1>

{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}
<form action="/forum/" method="POST">
    {% csrf_token %}
    {% include 'forum/forms/view.html' %}
    <input type="submit" value="Add category!">
</form>

{% for category in categories %}
    <ul>
        <li><a href="category/{{ category.id }}">{{ category.name }}</a></li>
    </ul>
{% endfor %}
</body>

<a href="/">home</a>

</html>